* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 50%;
}

/* começo do header  */
header {
    width: 100%;
    height: 14vh;
    color: #fff;
}

.header-top {
    /*header top*/
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #131921;
}

.header-top div {
    padding: 0 10px;
}

.logo {
    display: flex;
    align-items: center;
    width: 15%;
    height: 60px;
}

.endereco {
    width: 16%;
    height: 60px;
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.logo h1 {
    font-size: 1.1rem;
    position: relative;
}

.logo span {
    font-size: 1.4rem;
}

.logo h1::before {
    content: "";
    width: 80px;
    height: 2px;
    background-color: #F3A847;
    position: absolute;
    top: -5px;
    right: 0;
}

.logo h1::after {
    content: "";
    width: 80px;
    height: 2px;
    background-color: #F3A847;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.endereco p {
    font-size: .8rem;
    color: #c1c1c1;
}

.location {
    font-size: 1.2rem;
    margin: 10px 3px 0 0;
}

.text-input {
    font-size: .9rem;
    font-weight: bold;
    color: #fff;
}

.pesquisa {
    max-width: 60%;
    width: 60%;
    min-width: 20%;
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.pesquisa input {
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 1rem;
    outline: none;
}

.before-input {
    background-color: #F3F3F3;
    color: #131921;
    height: 97%;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: .7rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    outline: none;
}

.before-input:hover {
    background-color: #DADADA;
}

.after-input {
    background-color: #FEBD69;
    padding: 10px;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    color: #131921;
    cursor: pointer;
    margin-right: -10px;
}

.after-input span {
    font-size: 2rem;
}

.after-input:hover {
    background-color: #F3A847;
}

/* login e carrinho  */
.login,
.carrinho {
    width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
    line-height: 15px;
}

.login p {
    font-size: .7rem;
}

.login p strong {
    font-size: .9rem;
}

.login p span {
    font-size: .8rem;
}

.dev-pedidos {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
    line-height: 15px;
}

.dev-pedidos strong {
    font-size: .9rem;
}

.carrinho span {
    font-size: 2.8rem;
    margin-right: 5px;
}

.carrinho strong {
    font-size: .9rem;
    margin-top: 15px;
}

/* estilização dos hovers */
.logo:hover,
.endereco:hover,
.login:hover,
.dev-pedidos:hover,
.carrinho:hover {
    border: 1px solid #fff;
    cursor: pointer;
}

/* final da estilização do header-top e começo header-bottom */

/* header de baixo, para melhor localização */
.header-bottom {
    display: flex;
    align-items: center;
    background-color: #232F3E;
    padding: 0 10px;
    height: 40%;
}

.header-bottom a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* estilização do submenu TODOS */

.content {
    width: 100%;
    height: 100vh;
    background-color: #000000c9;

    position: absolute;
    bottom: 0;
    left: 0;
    cursor: default;
    visibility: hidden;
    z-index: 1;
    /* div escondida */
}

/* estilização para função do submenu */
.mostrar_div {
    visibility: visible;
}

/* Lista de categorias */

.content .list-categories {
    width: 22.8rem;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 0 5px #000;
    position: relative;
}

.content .close {
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: .9rem;
    left: 23.4rem;
    cursor: pointer;
}

/* Começo da div Conteudo, escondida */

.subtitulo {
    width: 100%;
    background-color: #232F3E;
}

.foto-login {
    width: 1.5rem;
    filter: invert(100%);
}

.subtitulo h4 {
    font-size: 1.2rem;
    padding: .9rem 2rem;
    display: flex;
    align-items: center;
    gap: .9rem;
    cursor: pointer;
}

/* estilização da box  */

.box h3,
.box nav a {
    color: #232F3E;
    font-size: .9rem;
    padding: 1rem 2rem;
}

.box h3 {
    font-size: 1.1rem;
    cursor: auto;
}

.box nav {
    display: flex;
    flex-direction: column;
    /* gap: 1.5rem; */
    padding-bottom: .5rem;
    border-bottom: 1px solid #232F3E;
}

.box nav a:hover {
    background-color: #DADADA;
}

.categorias {
    height: 92vh;
    overflow: scroll;
}

.menu {
    width: 8rem;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .9rem;
    font-weight: bold;
}

.mais-vendidos {
    width: 60rem;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: .9rem;
}

.mais-vendidos a:hover,
.menu:hover,
.promocao:hover {
    border: 1px solid #fff;
}

.mais-vendidos a {
    padding: 10px 15px;
}

.promocao {
    width: 30rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}